.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}
.hero .title {
  font-size: 1.7rem;
  color: rgba(1, 1, 1, 1);
  height: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-hero-title {
  font-size: 2.1em;
  color: #eee;
  background: var(--colorful-background);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.13em transparent;
  animation: gradient 5s ease infinite;
  letter-spacing: 0.11em;
}
@keyframes gradient {
  0%,
  100% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.hero .title .header-hero-title,
.hero .title p {
  width: 100%;
}
.hero .header-image {
  margin: 1em;
}
.hero .header-image img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

/* media queries  */
@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: space-around;
  }
  .hero {
    text-align: center;
  }
  .hero .title .header-hero-title,
  .hero .title p {
    width: 100%;
  }
  .header-hero-title {
    font-size: 1.8em;
  }
  .hero .header-image {
    margin-top: 5%;
  }
  .hero .header-image img {
    height: 300px;
    width: 300px;
  }
}

@media screen and (min-width: 980px) {
  .header-hero-title {
    font-size: 2.8em;
  }
}
