/* 
*
*
connect section containing
connect title and social links
*
* 
*/
#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  background: rgba(104, 120, 100, 1);
}
#connect .connect-title {
  font-size: 2em;
  color: white;
  background: var(--colorful-background);
  background-size: 200% 200%;
  letter-spacing: 0.1em;
  width: 100%;
}
#connect .connect-icons {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#connect .connect-icons a {
  font-size: 6em;
  flex: 1 50%;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 0.3em 0;
}
#connect .connect-icons a:hover {
  color: var(--color-white-blue);
}
/* END connect section  */

@media screen and (min-width: 768px) {
  /* connect */
  #connect {
    height: 20%;
    flex-direction: row;
    background: var(--colorful-background);
  }
  #connect .connect-title {
    background: none;
  }
  #connect .connect-icons {
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
  }
  #connect a i {
    color: var(--color-white);
    font-size: 0.5em;
  }
  /* END connect */
}
