footer {
  height: 8vh;
  display: flex;
  align-items: center;
  word-spacing: 0.2em;
  background-color: var(--color-blue);
}
footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  font-size: 1.35em;
}
