nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
  border-bottom: 2px solid var(--color-dark-blue);
}
.nav-left {
  width: 25%;
  display: flex;
  justify-content: center;
}
.nav-left img {
  height: 100%;
}
.nav-right {
  width: 25%;
}
#menu-bars {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
}
#menu-bars i {
  font-size: 2em;
}
#nav-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  display: none;
  margin: 0;
  padding: 0;
}
#nav-menu li {
  list-style: none;
  margin: auto;
}
#nav-menu li a {
  color: var(--color-white);
  font-size: 3rem;
}
.exit-button {
  position: fixed;
  right: 5%;
  top: 2%;
  width: 15%;
  height: 5%;
  display: flex;
  justify-content: center;
}
.exit-button button {
  width: 100%;
  background-color: inherit;
  border: none;
}
.exit-button button i {
  width: 100%;
  height: 100%;
  font-size: 3em;
  color: white;
}

/* media queries  */
@media screen and (min-width: 768px) {
  /* global styles */
  ::-webkit-scrollbar {
    display: block;
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-blue);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-light-blue);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-white-blue);
  }
  /* nav header  */
  nav {
    position: sticky;
    top: 0;
    background: var(--color-blue);
  }
  .nav-right {
    width: 50%;
  }
  #menu-bars {
    display: none;
  }
  #nav-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: inherit;
    height: 100%;
  }
  #nav-menu li a {
    color: inherit;
    font-size: 1.2em;
  }
  .exit-button {
    display: none;
  }
}
