/* 
*
*
works section will contain title and works
inside the works section will contain two section
active works and side works which will contain
all the side works  
*
*
*/
#portfolio {
  background: var(--simple-background-reversed);
}
.portfolio-title {
  text-align: center;
  font-size: 2em;
  background: var(--colorful-background);
  background-size: 200% 200%;
  border: 1px solid var(--color-black);
}
.portfolio-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active-work {
  height: 40%;
  width: 90%;
  background: var(--simple-background-mid);
  margin: 1em;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.active-work-image {
  width: 90%;
  margin: 1.5em;
}
.active-work-image a img {
  width: 100%;
}
.active-work-text {
  font-size: 3em;
  text-align: center;
  width: 100%;
}
.active-work-text h4 {
  display: none;
}
.work-title {
  color: var(--color-white);
  background: var(--colorful-background);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.13em transparent;
}
.side-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2em;
  border-top: solid 2px var(--color-black);
  width: 90%;
}
.work {
  height: 150px;
  width: 70%;
  background: url("https://via.placeholder.com/250x150");
  margin: 0.5em;
}
.shmovies {
  background-image: url("../../components/pictures/shmovies.png");
  background-size: cover;
}
.smagums {
  background-image: url("../../components/pictures/smagums.png");
  background-size: cover;
}
.run-buddy {
  background-image: url("../../components/pictures/runbuddy.png");
  background-size: cover;
}
.weather-app {
  background-image: url("../../components/pictures/weatherapp.png");
  background-size: cover;
}
.workday {
  background-image: url("../../components/pictures/workdayscheduler.png");
  background-size: cover;
}
.quiz {
  background-image: url("../../components/pictures/quiz.png");
  background-size: cover;
}
.tech-blog {
  background-image: url("../../components/pictures/tech-blog.png");
  background-size: cover;
}
/* END works */

@media screen and (min-width: 768px) {
  /* work */
  .active-work {
    border: none;
    padding: 4em;
    background: var(--simple-background-reversed);
  }
  .active-work .active-work-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active-work-text h4 {
    display: block;
  }
  .run-buddy {
    flex-grow: 0.5;
  }
  .side-works {
    flex-direction: row;
    justify-content: center;
    border-top: none;
  }
  /* END work */
}
